.genresBox {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 80%;
    height: 90%;
    background-color: white;
    border-radius: 1rem;
}

.title {
    font-weight: bolder;
    font-size: 4rem;
}